<!-- Note we can also use base template from another app inside a new app -->

{% extends "blogApp/base.html" %}
{% load crispy_forms_tags %} {% comment %} Allows us to use crispy filter on forms  {% endcomment %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!-- Used for security purpose and is a MUST -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today! </legend>
                
                <!-- The form variable access the whole form (UserCreationForm) which we imported in the views -->
                <!-- We can use form.as_p is for clearer styling using p tags. But we have crispy now--> 
                <!-- Just the | crispy does all the stylings. We need not do anything -->
                
                {{ form|crispy }}  
                <!-- NOTE: Since we have connected this to built in login page at urls.py,content in the same form tag varies for reigister, login and logout-->


            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already have An account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
