{% extends "blogApp/base.html" %}

{% block content %}
<div class="container mt-5">
<h1 class="mb-4">Indian Police Force - Cyber Crime Records</h1>
<p>This project serves as a platform for managing cybercrime records for the Indian Police Force. It includes basic CRUD operations, a blog for reporting incidents, and a map visualization feature.</p>

<h2 class="mt-5 mb-3">Team Members</h2>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">S No</th>
        <th scope="col">Roll No</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>CB.EN.U4CSE22049</td>
            <td>Sudharsan Vanamali</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>CB.EN.U4CSE22015</td>
            <td>Guhanesh.T</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>CB.EN.U4CSE22036</td>
            <td>Prashanna.R</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>CB.EN.U4CSE22004</td>
            <td>Aditya.R</td>
        </tr>
    </tbody>
</table>
<br>
<br>
</div>


{% endblock content %}

